.profile__edit {
  width: 24px;
  height: 24px;
  background-image: url(../../../images/Pen.svg);
  background-color: transparent;
  border: 1px solid #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 0.3s;
  cursor: pointer;
}

/* Как реализовать чтобы и в мазиле отображался на основе моей созданной верстки - понятия не имею. Прошу у вас помощи или тут все переверстывать нужно и я сам себя загнал в ловушку */

.profile__edit:hover {
  opacity: 0.6;
}

@media (min-width: 320px) and (max-width: 1279px) {
  .profile__edit {
    width: 18px;
    height: 18px;
  }
}
