.form__save {
  background-color: #000000;
  color: #ffffff;
  padding-top: 11px;
  padding-bottom: 12px;
  font-size: 18px;
  line-height: 22px;
  margin: 32px 35px 30px;
  transition: opacity 0.3s;
  cursor: pointer;
}

.form__save:hover {
  opacity: 0.6;
}

@media (min-width: 320px) and (max-width: 1280px) {
    .form__save {
      padding-top: 11px;
      padding-bottom: 14px;
      font-size: 14px;
      line-height: 17px;
      margin: 29px 22px 22px;
  }
}
