.popup__container-photo {
  flex-direction: column;
  align-items: center;
  height: 75vh;
  object-fit: contain;
  position: relative;
}

@media (min-width: 320px) and (max-width: 1279px) {
  .popup__container-photo {
    height: auto;
  }
}
