.popup__close-button {
  width: 32px;
  height: 32px;
  background-image: url(../../../images/CloseIcon.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  right: -7px;
  top: -189px;
  border: none;
  background-color: transparent;
  transition: opacity 0.3s;
  cursor: pointer;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media (min-width: 320px) and (max-width: 1279px) {
    .popup__close-button {    width: 20px;
      height: 20px;
      top: 87px;
      right: 19px;
      position: absolute;
  }
}
