.form__close-button {
  width: 32px;
  height: 32px;
  background-image: url(../../../images/Close\ Icon.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: -40px;
  top: -38px;
  border: none;
  background-color: transparent;
}

@media (min-width: 320px) and (max-width: 1280px) {
    .form__close-button {
      width: 20px;
      height: 20px;
      top: -37px;
      right: 0px;
  }
}
