.card__like_active {
  background-image: url(../../../../images/Union.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 22px;
  height: 19px;
  margin-right: 20px;
  border: 0;
  background-color: #ffffff;
  transition: opacity 0.3s;
  cursor: pointer;
}
